@charset "UTF-8";
.slideBox{
	width: 500px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	border: 5px solid #000;
	position: relative;
}
.slideBox ul img{
	width: 500px;
}
.slideBox ul li{
	float: left;
}
.slide{
	position: absolute;
	left: 0;
	top: 0;
}