@charset "UTF-8";
.slide-box{
	width: 500px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	border: 5px solid #000;
	position: relative;
}
.slide-box ul img{
	width: 505px;
}
.slide-box ul li{
	float: left;
}
.slide{
	position: absolute;
	left: 0;
	top: 0;
}
.slide-focus{
	position: absolute;
	right: 0;
	bottom: 0;
}
.slide-focus span{
	display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: #777;
    color: #fff;
    font-size: 12px;
    opacity: 0.6;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.slide-focus span:hover{
	opacity: 1;
}