@charset "UTF-8";
.slide-box{
	width: 500px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	border: 5px solid #000;
	position: relative;
}
.slide-box ul img{
	width: 500px;
}
.slide-box ul li{
	height: 100%;
	overflow: hidden;
	float: left;
	position: relative;
}
.slide-box ul li .title{
	width: 100%;
	height: 22px;
	line-height: 22px;
	position: absolute;
	z-index: 101;
	left: 0;
	bottom: 0;
	color: #fff;
}
.slide-box ul li .title-bg{
	width: 100%;
	height: 22px;
	position: absolute;
	z-index: 100;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
	.slide-box ul li .title-bg{
		background-color:#000000;
	    filter:Alpha(opacity=50);
	    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
	}
}
.slide{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.slide-focus{
	position: absolute;
	z-index: 1000;
	right: 0;
	bottom: 0;
}
.slide-focus span{
	display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: #777;
    color: #fff;
    font-size: 12px;
    opacity: 0.6;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.slide-focus span:hover{
	opacity: 1;
}